<footer class="bg-gray-800 text-white py-8 px-6">
    <div class="container mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      <!-- Informazioni di Contatto -->
      <div>
        <h3 class="text-xl font-semibold mb-4">Contatti</h3>
        <p class="text-sm pt-1">
            Tickethub Italia srl - Milano, Via Traversa 40 <br>
            Numero verde: 800 01 01 01 <br>
            Email: <a href="mailto:info@tickethub.com" class="underline hover:text-gray-300">info&#64;
            tickethub.com</a>
        </p>
      </div>
  
      <!-- Link Utili -->
      <div>
        <h3 class="text-xl font-semibold mb-4">Esplora</h3>
        <ul>
          <li><a href="#" class="text-sm hover:text-gray-300">Home</a></li>
          <li><a href="#" class="text-sm hover:text-gray-300">About Us</a></li>
          <li><a href="#" class="text-sm hover:text-gray-300">Servizi</a></li>
          <li><a href="#" class="text-sm hover:text-gray-300">Lavora con noi</a></li>
          <li><a href="#" class="text-sm hover:text-gray-300">FAQ</a></li>
          <li><a href="#" class="text-sm hover:text-gray-300">Informativa sulla Privacy</a></li>
        </ul>
      </div>
  
      <!-- Social Media -->
      <div>
        <h3 class="text-xl font-semibold mb-4">Seguici</h3>
        <div class="flex space-x-4 text-xl">
          <a href="#" class="hover:text-gray-400">
            <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
          </a>
          <a href="#" class="hover:text-gray-400">
            <fa-icon [icon]="['fab', 'x-twitter']"></fa-icon>
          </a>
          <a href="#" class="hover:text-gray-400">
            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
          </a>
          <a href="#" class="hover:text-gray-400">
            <fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon>
          </a>
        </div>
      </div>
  
      <!-- Newsletter -->
      <div>
        <h3 class="text-xl font-semibold mb-4">Iscriviti alla Nostra Newsletter</h3>
        <form action="#" class="flex flex-col space-y-2">
          <input type="email" placeholder="Inserisci la tua email" class="bg-gray-600 mb-1 p-2 rounded focus:outline-none focus:ring-2 focus:ring-gray-500">
          <button type="submit" class="border-2 border-gray-400 hover:bg-gray-400 text-gray-400 hover:text-white py-2 px-4 rounded transition duration-300">
            Iscriviti
          </button>
        </form>
      </div>
    </div>
  
    <!-- Divider -->
    <div class="border-t border-gray-700 mt-8 pt-4">
      <div class="container mx-auto flex justify-between text-sm">
        <!-- Copyright -->
        <span class="text-gray-200">
            <a href="https://github.com/elimo976" target="_blank">&copy; <span class="hover:underline"><span class="text-red-500">e</span>lisa<span class="text-red-500">m</span>orreale</span></a> | 
            <em class="italic">Tickethub Project</em> &bull; 2024
          </span>
          
        <!-- Supporto e Assistenza -->
        <a href="#" class="hover:text-gray-300">Support & Assistance</a>
      </div>
    </div>
  </footer>
  