<div class="flex items-center justify-center h-screen bg-gray-100">
    <div class="text-center space-y-6 flex flex-col items-center">
      <!-- Logo o Icona -->
      <div class="flex items-center justify-center">
        <img src="assets/images/construction.png" alt="underconstruction" class="bg-petrol-light w-36 h-36 md:w-40 md:h-40 lg:w-48 lg:h-48 object-cover rounded-full shadow-lg">
      </div>
  
      <!-- Messaggio Principale -->
      <h1 class="text-4xl md:text-6xl font-bold text-gray-800">
        Pagina in costruzione
      </h1>
      <!-- Sottotitolo o Messaggio Secondario -->
      <p class="text-gray-600 text-lg md:text-xl">
        Stiamo lavorando per offrirti un’esperienza eccezionale. Resta sintonizzato!
      </p>
      <!-- Pulsante o Icona per Tornare alla Home -->
      <a routerLink="/" class="inline-block mt-6 bg-petrol-light text-white font-semibold py-3 px-8 rounded-full shadow-md hover:bg-petrol-dark transition duration-300">
        Torna alla Home
      </a>
    </div>
  </div>
  
  