<section class="hero-section bg-petrol-light py-6">
  <div class="container mx-auto">
    <h1 class="text-center text-white text-xl mb-8">Scopri gli Eventi in Primo Piano</h1>
    
    <!-- Griglia responsive -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-0 md:gap-2 lg:gap-4">
      
      <!-- Primo quadrante: Esplora per Categoria -->
      <div class="text-gray-900 rounded-lg relative overflow-hidden">
        <app-events-preview
          [images]="['assets/images/sport.jpg', 'assets/images/cirque-du-soleil.jpg', 'assets/images/teatro.jpg']"
          [index]="0"> 
        </app-events-preview>
        <div class="overlay-text bg-gray-400 bg-opacity-80 w-full py-2 text-center">Esplora per Categoria</div>
      </div>

      <!-- Secondo quadrante vuoto (nascosto su tablet e mobile) -->
      <div class="bg-transparent hidden lg:block"></div>

      <!-- Terzo quadrante: Eventi in Evidenza -->
      <div class="text-gray-900 rounded-lg relative overflow-hidden">
        <app-events-preview 
          [images]="['assets/images/image1.jpg', 'assets/images/image2.jpg', 'assets/images/image3.jpg']"
          [index]="1"> 
        </app-events-preview>
        <div class="overlay-text bg-gray-400 bg-opacity-80 w-full py-2 text-center">Eventi in Evidenza</div>
      </div>

      <!-- Quarto quadrante vuoto (nascosto su tablet e mobile) -->
      <div class="bg-transparent hidden lg:block"></div>

      <!-- Quinto quadrante vuoto (nascosto su tablet e mobile) -->
      <div class="bg-transparent hidden lg:block"></div>

      <!-- Sesto quadrante: Scopri le Novità -->
      <div class="text-gray-900 rounded-lg relative overflow-hidden">
        <app-events-preview 
          [images]="['assets/images/band.jpg', 'assets/images/image4.jpg', 'assets/images/candlelight.jpg']"
          [index]="2"> 
        </app-events-preview>
        <div class="overlay-text bg-gray-400 bg-opacity-80 w-full py-2 text-center">Scopri le Novità</div>
      </div>

      <!-- Settimo quadrante vuoto (nascosto su tablet e mobile) -->
      <div class="bg-transparent hidden lg:block"></div>

      <!-- Ottavo quadrante: Ultimi Biglietti -->
      <div class="text-gray-900 rounded-lg relative overflow-hidden">
        <app-events-preview 
          [images]="['assets/images/concerto.jpg', 'assets/images/image5.jpg', 'assets/images/image6.jpg']"
          [index]="3"> 
        </app-events-preview>
        <div class="overlay-text bg-gray-400 bg-opacity-80 w-full py-2 text-center">Ultimi Biglietti</div>
      </div>
    </div>
  </div>
</section>
