<!-- Colonna per le informazioni -->
<div *ngIf="eventDetail" class="flex justify-between flex-col md:flex-row items-start p-8 bg-gray-100 shadow rounded-lg">
  <div class="flex-1 md:pr-6">
    <h2 class="text-3xl font-bold text-gray-800 mb-2">{{ eventDetail.title }}</h2>
    <p class="text-gray-700 mb-4">{{ eventDetail.description }}</p>
    <p class="text-gray-600 mb-2">{{ eventDetail.date | date: "EEEE dd-MM-yyyy" }}</p>
    <p class="text-gray-600 mb-2">{{ eventDetail.venues[0].name }}</p>
    <p class="text-gray-600 mb-2">{{ eventDetail.venues[0].city.name }}</p>
    <ng-container *ngIf="eventDetail.price && eventDetail.price.length > 0">
        <p *ngFor="let p of eventDetail.price" class="text-gray-600 mb-2">Prezzi
          <span>{{ p.type === 'standard including fees' ? 'tasse incluse' : 'standard' }}: da {{ p.min | currency:p.currency:'symbol' }} a {{ p.max | currency:p.currency:'symbol' }}</span>
        </p>
    </ng-container>
    <p *ngIf="eventDetail.price.length === 0" class="text-gray-600 mb-2">Prezzo non disponibile</p>
    <p class="text-gray-600 mb-4">
      Disponibilità biglietti:
      <span [ngStyle]="{ color: eventDetail.totalTickets === 0 ? 'red' : 'inherit' }">
        {{ eventDetail.totalTickets > 0 ? eventDetail.totalTickets : 'Biglietti esauriti' }}
      </span>
    </p>

    <div class="flex flex-col lg:mt-10 md:mt-0">
      <button
        class="bg-petrol-light text-white font-semibold py-2 rounded shadow hover:bg-petrol-dark transition duration-300"
      >
        Acquista
      </button>
    </div>
  </div>

  <div *ngIf="eventDetail" class="flex-1 md:mt-0 mt-4">
    <img src="{{ eventDetail.imageUrl }}" alt="{{ eventDetail.title }}" class="w-full h-auto object-cover rounded-lg">
  </div>

  <div *ngIf="!eventDetail">
    <p>Loading event details...</p>
  </div>
</div>
