<p>event-detail works!</p>
<!-- <div *ngFor="let event of events" class="event-card border border-gray-300 rounded-lg shadow-md mb-4 p-4 flex justify-between items-start">
    <div class="flex-1">
      <h2 class="text-xl font-semibold mb-1">{{ event.title }}</h2>
      <p class="mb-1">Data: {{ event.date | date: "dd/MM/YYYY" }}</p>
      <p *ngIf="event.venues && event.venues.length > 0 && event.venues[0].name !== 'Location sconosciuta'" class="mb-1">
        Location: {{ event.venues.length > 0 ? event.venues[0].name : 'Location non disponibile' }}
      </p>
      <p *ngIf="event.venues && event.venues.length > 0" class="mb-1">
        Città: {{ event.venues.length > 0 ? event.venues[0].city.name : 'Città non disponibile' }}
      </p>
      <p *ngIf="event.price && event.price.length > 0" class="mb-1">Prezzi disponibili:</p>
      <ng-container *ngIf="event.price && event.price.length > 0">
        <ul class="list-disc list-inside mb-1">
          <li *ngFor="let p of event.price">
            {{ p.type === 'standard including fees' ? 'Prezzi tasse incluse' : 'Prezzi tasse escluse' }}: da {{ p.min | currency:p.currency:'symbol' }} a {{ p.max | currency:p.currency:'symbol' }}
          </li>
        </ul>
      </ng-container>
      <p *ngIf="event.price.length === 0" class="mb-1">Prezzo non disponibile</p>
      <p>
        Totale biglietti:
        <span [ngStyle]="{ color: event.totalTickets === 0 ? 'red' : 'inherit' }">
          {{ event.totalTickets > 0 ? event.totalTickets : 'Biglietti esauriti' }}
        </span>
      </p>
    </div>
    <img src="{{ event.imageUrl }}" alt="{{ event.title }}" class="w-32 h-auto object-cover rounded-lg ml-4">
    <div class="flex flex-col items-center justify-center">
      <button 
        class="bg-blue-500 text-white font-semibold py-2 px-4 rounded shadow hover:bg-blue-600 transition duration-300" 
        (click)="goToEventDetail(event._id)" 
        *ngIf="isLargeScreen()"
      >
        Biglietti
      </button>
      <button 
        class="bg-blue-500 text-white rounded-full w-10 h-10 flex items-center justify-center shadow hover:bg-blue-600 transition duration-300" 
        (click)="goToEventDetail(event._id)" 
        *ngIf="!isLargeScreen()"
      >
        <span class="text-2xl">&gt;</span> 
      </button>
    </div>
  </div>
   -->
