<div class="flex items-center justify-center min-h-screen bg-gradient-to-br from-petrol-dark to-gray-100">
    <div class="bg-white p-10 rounded-2xl shadow-xl max-w-md w-full transform hover:scale-105 transition-transform duration-300">
        <div class="text-center mb-10">
            <h2 class="text-3xl font-bold text-petrol-dark mb-2">Benvenuto</h2>
            <p class="text-sm text-petrol-light">Accedi per continuare</p>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="relative mb-6">
                <label for="email" class="absolute -top-3 left-4 bg-white px-2 text-sm font-medium text-petrol-dark">Email</label>
                <input
                    type="email"
                    id="email"
                    formControlName="email"
                    placeholder="Inserisci la tua email"
                    class="w-full px-4 py-3 border border-petrol-light rounded-lg focus:outline-none focus:ring-2 focus:ring-petrol"
                />
            </div>
            <div class="relative mb-8">
                <label for="password" class="absolute -top-3 left-4 bg-white px-2 text-sm font-medium text-petrol-dark">Password</label>
                <input
                    type="password"
                    id="password"
                    formControlName="password"
                    placeholder="Inserisci la tua password"
                    class="w-full px-4 py-3 border border-petrol-light rounded-lg focus:outline-none focus:ring-2 focus:ring-petrol"
                />
            </div>
            <div class="flex items-center mb-6">
                <span class="mr-2 text-petrol-dark">Ruolo:</span>
                <label class="relative inline-flex items-center cursor-pointer">
                    <input 
                        type="checkbox" 
                        formControlName="role" 
                        class="sr-only"
                        (click)="toggleRole()"
                        [checked]="loginForm.get('role')?.value"
                    />
                    <div class="w-11 h-6 bg-petrol rounded-full transition duration-200 ease-in-out" [class.bg-petrol-dark]="loginForm.get('role')?.value">
                        <span 
                            class="absolute left-0 w-6 h-6 bg-white rounded-full shadow transform transition-transform duration-300" 
                            [ngClass]="{'translate-x-5': loginForm.get('role')?.value}">
                        </span>
                    </div>
                    <span class="ml-3 text-sm text-petrol-dark">{{ loginForm.get('role')?.value ? 'Admin' : 'User' }}</span>
                </label>
            </div>
            
            <div class="flex items-center justify-between mb-6 text-sm">
                <label class="inline-flex items-center">
                    <input type="checkbox" class="form-checkbox text-petrol focus:ring-petrol-dark rounded" />
                    <span class="ml-2 text-petrol-dark">Ricordami</span>
                </label>
                <a href="#" class="text-petrol-dark underline hover:text-petrol">Password dimenticata?</a>
            </div>
            <button
                type="submit"
                class="w-full bg-petrol text-white py-3 rounded-xl font-semibold shadow-lg hover:bg-petrol-dark transform transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-petrol-light"
            >
                Accedi
            </button>
        </form>
        <p class="mt-8 text-center text-sm text-petrol-dark">
            Non hai un account?
            <a [routerLink]="['/user/register']" class="text-petrol font-semibold hover:underline">Registrati</a>
        </p>
    </div>
</div>
